body {
    margin: 4rem;
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
}

#formContainer {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
    max-width: 600px;
    margin: 10px;
    max-height: 600px;
    overflow-y: auto;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #45a049;
}

.error-message {
    text-align: center;
    background-color: #f8d7da;
    color: #721c24;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.rating-container {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.rating {
    font-weight: bold;
    color: #961b1b;
    font-size: 1.3rem;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
    text-align: center;
}

.rating.selected {
    color: yellow;
}

table {
    border-collapse: collapse;
    margin: 20px 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

th,
td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #4CAF50;
    color: #fff;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

/* Hover effect */
tr:hover {
    background-color: #e9ecef;
    transition: background-color 0.3s;
}

/* Styling table headers */
th {
    background-color: #4CAF50;
    color: #fff;
    padding: 12px;
    text-align: left;
}

/* Styling buttons */
td button {
    margin-right: 5px;
    padding: 8px 12px;
    background-color: #28a745;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s;
}

td button:last-child {
    margin-right: 0;
}

td button:hover {
    background-color: #218838;
}

/* Style for the book cards */
.card {
    border: none;
    transition: transform 0.3s;
    max-width: 300px;
    margin: 5 auto;
    margin-top: 10px;
    margin-left: 10px;
}

.card:hover {
    transform: translateY(-5px);
}

.card-img-top {
    height: auto;
    max-height: 180px;
    object-fit: contain;
}

.card-title {
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.card-text {
    margin-bottom: 5px;
}

.btn-group {
    margin-top: 10px;
}

/* Style for the 'View' button */
.btn-outline-secondary {
    color: #007bff;
    border-color: #007bff;
}

.btn-outline-secondary:hover {
    background-color: #007bff;
    color: #fff;
}

#bookList {
    display: flex;
    flex-wrap: wrap;
    margin-right: 778px;
}

#bookList .col {
    flex-basis: calc(25% - 1rem);
    margin-bottom: 1rem;
}

@media (max-width: 768px) {
    #bookList .col {
        flex-basis: calc(50% - 1rem);
    }
}

@media (max-width: 576px) {
    #bookList .col {
        flex-basis: 100%;
    }
}

.filled-star {
    color: gold;
}

.empty-star {
    color: #ccc;
}

.half-filled-star {
    color: #ccc;
    position: relative;
    display: inline-block;
}

.half-filled-star::before {
    content: '★';
    position: absolute;
    overflow: hidden;
    width: 50%;
    color: gold;
}

.filled-star,
.empty-star,
.half-filled-star {
    font-size: 20px;
}

.half-filled-star::before {
    font-size: 20px;
}