<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admin_panel.css') }}">
</head>

<body>
    <div class="dashboard-container">
        <nav class="sidebar">
            <div class="sidebar-header">
                <h2>Menu</h2>
            </div>
            <ul class="sidebar-menu">
                <li><a href="#">Dashboard</a></li>
            </ul>
        </nav>
        <div class="main-content">
            <header class="topbar">
                <h1>Dashboard</h1>
                <div class="user-info">
                    <p>Welcome, User</p>
                    <a href="/logout"> Logout</a>

                </div>
            </header>
            <div class="content">

                <div class="card">
                    <h5 class="card-title">Total Books</h5>
                    <p class="card-text">{{ total_books }}</p> 
                </div>
                <div class="cards">
                    <div class="card">
                        <h5 class="card-title">Total Users</h5>
                        <p class="card-text">{{ total_users }}</p> 
                    </div>
                </div>
                <h2>Books Added by Users</h2>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Title</th>
                            <th>Author</th>
                            <th>Added By</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Iterate over books_with_users and display book details -->
                        {% for book, user in books_with_users %}
                        <tr>
                            <td>{{ book.title }}</td>
                            <td>{{ book.author }}</td>
                            <td>{{ user.name }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>
</html>