<!DOCTYPE html>
<html>

<head>
    <title>Book Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/book.css') }}">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/books">Book page</a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="btn btn-outline-light" href="/logout">
                            <i class="fas fa-sign-out-alt"></i> Logout ({{ current_user.name }})
                        </a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <div class="row row-cols-1 row-cols-md-4 g-4" id="bookList">
        <div class="row">
            {% for book in books %}
            <div class="col-md-4">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" src="{{ book.cover_image_url }}" alt="{{ book.title }}">
                    <div class="card-body">
                        <h5 class="card-title">{{ book.title }}</h5>
                        <p class="card-text">Author: {{ book.author }}</p>
                        <p class="card-text">Genre: {{ book.genre }}</p>
                        <p class="card-text">Book ID: {{ book.id }}</p>
                        {% if book.user %}
                        <p class="card-text">Added by: {{ book.user.id }}</p>
                        <p class="card-text">Added by: {{ book.user.name }}</p>
                        {% endif %}
                        <p class="card-text">
                            Rating:
                            <span class="rating-stars">
                                {% for i in range(book.average_rating|round) %}
                                <i class="fas fa-star"></i>
                                {% endfor %}
                                {% for i in range(5 - book.average_rating|round) %}
                                <i class="far fa-star"></i>
                                {% endfor %}
                            </span>
                            ({{ book.rating_count }})
                        </p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <!-- <a href="/create_review" class="btn btn-sm btn-outline-secondary">Review</a> -->
                                <a href="/create_review?book_id={{ book.id }}&&user_id={{ user.id }}"
                                    class="btn btn-sm btn-outline-secondary  review-btn">Review</a>
                            </div>
                            <small class="text-muted">Published: {{ book.published_date }}</small>
                            <!-- <small class="text-muted">Rating: <span id="averageRating{{ book.id }}"></span></small> -->
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function () {
            // Fetch books from the server-side
            $.get("/all_books", function (data) {
                console.log(data); 

                // Check if data is undefined or not in the expected format
                if (data && data.books) {
                    // Clear existing list
                    $("#bookList").empty();
                    // Add each book to the list
                    data.books.forEach(function (book) {
                        var stars = getStars(book.average_rating);
                        $("#bookList").append(
                            '<div class="col-md-4">' +
                            '<div class="card mb-4 box-shadow">' +
                            '<img class="card-img-top" src="' + book.cover_image_url + '" alt="' + book.title + '">' +
                            '<div class="card-body">' +
                            '<h5 class="card-title">' + book.title + '</h5>' +
                            '<p class="card-text">Author: ' + book.author + '</p>' +
                            '<p class="card-text">Book ID: ' + book.id + '</p>' +
                            '<p class="card-text">User ID: ' + book.user.id + '</p>' +
                            '<p class="card-text">User Name: ' + book.user.name + '</p>' +
                            '<p class="card-text"><b>Rating:</b> ' + stars + ' ( ' + book.rating_count + ' )</p>' +
                            '<div class="d-flex justify-content-between align-items-center">' +
                            '<div class="btn-group">' +
                            '<a href="/create_review?book_id=' + book.id + '&user_id=' + (book.user ? book.user.id : '') + '" class="btn btn-sm btn-outline-secondary">Review</a>' +
                            '</div>' +
                            '<small class="text-muted">Published: ' + book.published_date + '</small>' +
                            '</div>' +

                            '</div>' +
                            '</div>' +
                            '</div>' +
                            '</div>'
                        );
                    });
                } else {
                    console.error("Data format is not as expected or data is undefined.");
                }
            }).fail(function () {
                console.error("Failed to fetch books from the server.");
            });
        });
        function getStars(rating) {
            var integerPart = Math.floor(rating); 
            var decimalPart = rating - integerPart; 
            var stars = '';

            for (var i = 0; i < integerPart; i++) {
                stars += '<span class="filled-star">★</span>';
            }

            if (decimalPart > 0.25) {
                stars += '<span class="half-filled-star">★</span>';
                integerPart++; 
            }

            for (var i = integerPart; i < 5; i++) {
                stars += '<span class="empty-star">☆</span>';
            }

            return stars;
        }

    </script>

</body>

</html>