<!DOCTYPE html>
<html>

<head>
    <title>Book Management System</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/review.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Book Management System</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/books">Book page</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/create_review">Review</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    {% if message %}
    <div>{{ message }}</div>
    {% endif %}

    <div id="formContainer">
        <div class="form-container">
            <h2 class="section-heading">Add New Review</h2>
            <form id="reviewForm" method="POST" action="/create_review">
                <input type="hidden" name="book_id" value="{{ book_id }}">
                <input type="hidden" id="userId" name="user_id" value="{{ user_id }}">
                <input type="hidden" id="bookId" name="book_id" value="{{ book_id }}">
                <label for="rating">Rating:</label><br>
                <div id="rating-container" class="rating-container">
                    <b>
                        <span class="rating" data-value="1">★</span>
                        <span class="rating" data-value="2">★</span>
                        <span class="rating" data-value="3">★</span>
                        <span class="rating" data-value="4">★</span>
                        <span class="rating" data-value="5">★</span>
                    </b>
                </div>
                <label for="comment">Comment:</label>
                <textarea id="comment" name="comment" rows="4" cols="50" required></textarea>
                <button type="submit">Submit Review</button>
            </form>
        </div>
        <div class="form-container">
            <form id="updateReview" style="display:none;" onsubmit="event.preventDefault(); updateReview();">
                <input type="hidden" id="reviewIdInputUpdate">
                <label for="ratingInputUpdate">Rating:</label>
                <input type="number" id="ratingInputUpdate">
                <label for="commentInputUpdate">Comment:</label>
                <textarea id="commentInputUpdate"></textarea>
                <button type="submit">Update Review</button>
            </form>
        </div>
    </div>

    <table id="outputTable">
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th> 
                <th>Book</th>
                <th>Rating</th>
                <th>Comment</th>
                <th>Timestamp</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
            <tr data-id="{{ review.id }}">
                <td>{{ review.id }}</td>
                <td>{{ review.user_name }}</td>
                <td>{{ review.book_title }}</td>
                <td>{{ review.rating }}</td>
                <td>{{ review.comment }}</td>
                <td>{{ review.timestamp }}</td>
                <td>
                    <button onclick="deleteReview('{{ review.id }}')">Delete</button>
                    <button onclick="fillUpdateReviewForm('{{ review.id }}')">Update</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js" crossorigin="anonymous"></script>
    <script>
        // Function to submit the review form
        $(document).ready(function () {
            fetchReviews(); // Page load hone par reviews fetch kare
        });

        function fetchReviews() {
            $.ajax({
                type: 'GET',
                url: '/get_reviews',
                success: function (response) {
                    $('#outputTable tbody').empty();
                    response.reviews.forEach(function (review) {
                        var row = $('<tr>').attr('data-id', review.id);
                        row.append($('<td>').text(review.id));
                        row.append($('<td>').text(review.user_name)); 
                        row.append($('<td>').text(review.book_title)); 
                        row.append($('<td>').text(review.rating));
                        row.append($('<td>').text(review.comment));
                        row.append($('<td>').text(review.timestamp));
                        row.append($('<td>').html('<button onclick="deleteReview(' + review.id + ')">Delete</button><button onclick="fillUpdateReviewForm(' + review.id + ')">Update</button>'));
                        $('#outputTable tbody').append(row);
                    });

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

        // Form submission for adding a new review
        $('#reviewForm').submit(function (event) {
            event.preventDefault(); 

            var formData = {
                user_id: $('#userId').val(),
                book_id: $('#bookId').val(),
                rating: $('.rating.selected').length > 0 ? $('.rating.selected').last().data('value') : null,
                comment: $('#comment').val(),
                timestamp: new Date().toISOString() 
            };

            // Send AJAX POST request to server
            $.ajax({
                type: 'POST',
                url: '/create_review',
                contentType: 'application/json',
                data: JSON.stringify(formData),
                success: function (response) {
                    console.log(response);
                    // After successfully adding the review, fetch and render reviews again
                    fetchReviews();
                    $('#userId').val('');
                    $('#bookId').val('');
                    $('.rating').removeClass('selected');
                    $('#comment').val('');
                },
                error: function (xhr, status, error) {
                    var errorMessage = xhr.responseJSON.error;
                    console.error(errorMessage);
                    // Display error message to the user
                    alert(errorMessage);
                }
            });
        });

        function fillUpdateReviewForm(reviewId) {
            let row = document.querySelector(`[data-id="${reviewId}"]`);
            let rating = row.cells[3].textContent;
            let comment = row.cells[4].textContent;

            document.getElementById("reviewIdInputUpdate").value = reviewId;
            document.getElementById("ratingInputUpdate").value = rating;
            document.getElementById("commentInputUpdate").value = comment;

            document.getElementById("updateReview").style.display = "block";
        }

        function updateReview() {
            let reviewId = document.getElementById("reviewIdInputUpdate").value;
            let rating = document.getElementById("ratingInputUpdate").value;
            let comment = document.getElementById("commentInputUpdate").value;

            let formData = {
                review_id: reviewId,
                rating: rating,
                comment: comment
            };

            fetch('/update_review', {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            })
                .then(response => response.json())
                .then(data => {
                    // Update the table row with the new values
                    let row = document.querySelector(`[data-id="${reviewId}"]`);
                    row.cells[3].textContent = rating;
                    row.cells[4].textContent = comment;

                    // Hide the update form after successful update
                    document.getElementById("updateReview").style.display = "none";
                })
                .catch(error => console.error('Error:', error));
        }



        function deleteReview(reviewId) {
            $.ajax({
                type: 'POST',
                url: '/delete_review',
                contentType: 'application/json',
                data: JSON.stringify({ review_id: reviewId }),
                success: function (response) {
                    console.log(response);
                    // Reload reviews after deletion
                    fetchReviews();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }

    </script>


    <script>
        (function () {
            const ratingContainer = document.querySelector('.rating-container');

            ratingContainer.addEventListener('click', (event) => {
                if (event.target.classList.contains('rating')) {
                    const ratingElements = ratingContainer.querySelectorAll('.rating');

                    ratingElements.forEach((element) => {
                        if (element.dataset.value <= event.target.dataset.value) {
                            element.classList.add('selected');
                        } else {
                            element.classList.remove('selected');
                        }
                    });

                    const ratingInput = document.getElementById('rating');

                    if (ratingInput) {
                        ratingInput.value = event.target.dataset.value;
                    }
                }
            });
        })();
    </script>
</body>

</html>